<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <a href="http://www.kobeluo.com/tech/" target="_blank">KOBE LUO</a> ❤ <a href="https://cczhouxin.github.io/" target="_blank">Cynthia Chou</a><br>
      <span>&copy; From <%= date(new Date(), '2008') %> </apan>
    </div>
  </div>
</footer>