#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: #F00
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  span
    color: #db5e42
#footer-info
  line-height: line-height
  font-size: 1em
  span
    color: #db5e42